@use "../../_styles/index.scss" as *;

.header {
  padding: 1.5em;
  width: 100%;

  .biography_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      width: fit-content;
      font-size: 1.25rem;
    }

    button {
      width: fit-content;
      font-size: 1.25rem;
      text-decoration: underline;
    }
  }

  @include lg {
    width: 15svw;
    min-width: 20rem;
    height: 100svh;
    display: flex;
    align-items: center;

    .biography_wrapper {
      flex-direction: column;
      row-gap: 0.85em;
    }
  }
}
