@use "../../_styles/index.scss" as *;

.header {
  padding: 1.5em;
  border: 1px solid red;
  width: 100%;
  height: 10svh;

  .biography_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span,
    button {
      width: fit-content;
      font-size: 1.25rem;
    }
  }

  @include lg {
    width: 15%;
    min-width: 20rem;
    height: 100svh;

    .biography_wrapper {
      flex-direction: column;
      row-gap: 0.85em;
    }
  }
}
