@use "../../_styles/index.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  position: relative;

  #toc {
    width: 100%;
    padding: 10em 1.5em 0;
    overflow-y: hidden;

    .content_wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 3.5em;
      overflow-y: scroll;
      scrollbar-width: none;
      height: calc(100svh - 12em);

      .content {
        display: flex;
        column-gap: 5em;
        font-size: 1.25rem;

        .exp_wrapper {
          transition: color 0.25s ease-in-out;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 1em;

          .title,
          .summary {
            transition: color 0.25s ease-in-out;
          }

          &:hover {
            .title,
            .summary {
              color: $gray;
              transition: color 0.25s ease-in-out;
            }
          }
        }
      }
    }
  }

  #preview {
    width: 40%;
    position: fixed;
    right: 0;
    top: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4 / 3;

    .image_wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  @include lg {
    flex-direction: row;

    #toc {
      width: 25svw;
      height: 100svh;
    }

    #preview {
      width: 60svw;
      aspect-ratio: 16 / 9;

      .image_wrapper {
        width: 60%;
        min-width: 50rem;
      }
    }
  }
}
