@use "../../_styles/index.scss" as *;

.container {
  display: flex;
  flex-direction: column;

  #toc {
    width: 100%;
    padding: 10em 1.5em 0;
    overflow-y: hidden;

    .content_wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 3.5em;
      overflow-y: scroll;
      height: 100svh;

      .content {
        display: flex;
        column-gap: 5em;
        font-size: 1.25rem;

        .exp_wrapper {
          transition: color 0.25s ease-in-out;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 1em;

          .title,
          .summary {
            transition: color 0.25s ease-in-out;
          }

          &:hover {
            .title,
            .summary {
              color: $gray;
              transition: color 0.25s ease-in-out;
            }
          }
        }
      }
    }
  }

  #preview {
    width: 100%;
  }

  @include lg {
    flex-direction: row;

    #toc {
      width: 30svw;
      min-width: 30rem;
      height: 100svh;
      padding: 1em 1em 0;
    }
  }
}
